<div class="dashboard-container mat-typography">
    <mat-toolbar color="primary" class="mat-elevation-z4">
        <span>📝 Task Dashboard</span>
        <span class="spacer"></span>
        <button mat-raised-button color="accent" (click)="openCreateTaskModal()">
            <mat-icon>add</mat-icon> Create Task
        </button>
    </mat-toolbar>

    <div class="content">

        <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
                <mat-cell *matCellDef="let task">{{ task.title }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                <mat-cell *matCellDef="let task">{{ task.status }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="priority">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Priority</mat-header-cell>
                <mat-cell *matCellDef="let task">{{ task.priority }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="dueDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Due Date</mat-header-cell>
                <mat-cell *matCellDef="let task">{{ task.dueDate | date:'mediumDate' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="tags">
                <mat-header-cell *matHeaderCellDef>Tags</mat-header-cell>
                <mat-cell *matCellDef="let task">{{ task.tags?.join(', ') }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                <mat-cell *matCellDef="let task">
                    <button mat-icon-button color="primary" (click)="showTaskHistory(task)">
                        <mat-icon>history</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="onClickDelete(task._id!)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>

    </div>
</div>